<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage - Video Games Quizz</title>
</head>

<body>
  <h1>Video Game Quizz - Home</h1>
  <form class="login">
    <label for="uname">Username</label>
    <input type="text" id="luname">
    <label for="pwd">Password</label>
    <input type="password" id="lpwd">
    <button type="submit" id="login-button">Log In</button>
  </form>

  <hr>
  <h4>No account? Sign in here:</h4>
  <form class="signin">
    <label for="uname">Username</label>
    <input type="text" id="suname">
    <label for="pwd">Password</label>
    <input type="password" id="spwd">
    <button type="button" id="signin-button">Sign In</button>
  </form>
</body>

<script src="index.js"></script>

</html>